:root {
    --main-color-1: #718292;
    --main-color-2: #A9C8DD;
    --main-color-3: #4A6473;
    --main-color-contra: #EBB97D;
}

*:focus {
    outline: 0;
}
/*
* {
    color: var(--main-color-contra);
}

body {
    background-image: url("sun_moon_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}

#total-app-area {
    width: 100%;
    height: auto;
}

#app-title-area {
    border: solid 1px var(--main-color-1);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(var(--main-color-1), var(--main-color-3));
    text-align: center;
    box-shadow: var(--main-color-3);
}


#app-title-area * {
    display: inline-block;
    margin: 0 auto;
}

#app-title-area h1 {
}


#app-body-area {
    margin: 50px 2% 25px 2%;
    top: 50px;
    height: 2000px;
}

#app-menu-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 25px
}

#app-menu-bar ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#app-menu-bar ul li {
    display: inline-block;
    float: left;
    width: 25%;

}
#app-menu-bar ul li button {
    width: 100%;
    text-align: center;
    background: grey;
    border: black 1px solid;
    border-width: 0px 5px;
}*/

/*
@font-face {
    font-family: 'Bagnard Sans';
    src: url('bagnardsans-webfont.woff2') format('woff2'),
    url('bagnardsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-bg-color: white;
    --main-border-color: #181000;
    --main-text-color: rgb(219, 212, 194);
    --widget-border-color: rgb(156, 150, 129);
    --section-bg-color: rgba(51, 38, 14, 0.73);
    --main-column-width: 320px;
    --main-column-wide-part: 240px;
    --main-column-skinny-part: 120px;
    --main-column-without-check: 300px;
}

* {
    font-family: "Bagnard Sans", Arial, Helvetica;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    background-image: url("creation_map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    padding-top: 10px;
}

.app-face {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
}

.side-bar {
  border-color: var(--main-border-color);
  border-width: 2px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
}




ul {
  margin: auto;
  padding: 0;
}

.file-buttons {
    margin: 0px auto;
}

li.file-button {
  display: inline;
  position: relative;
  margin: auto;
  padding: 0;
}

.content-list {
  overflow: scroll;
  height: 40%;
}

.selection-button {
    width: 150px;
}

.selection-name {
    height: 50px;
}

.app-area {
    !*border: 2px solid var(--main-border-color);*!
    display: block;

 padding: 0;
    margin:0;
    overflow: scroll;

}

.app-scroll-content {
    display: block;
    overflow: scroll;
}

.super-app-area:after {
    content: 'Thanks for Using! -Kenai';
}

.sheet-area {
  width:auto;
    !*border: 2px solid var(--main-border-color);*!
    display: block;
    margin: 0 0 0 0px;
    column-width: var(--main-column-width);
  column-rule-style: none;
    column-rule-color: black;
    padding: 5px;
}
.content-area {
    background: var(--section-bg-color);
    border-color: var(--main-border-color);
    border-width: 2px;
    border-style: solid;

}
.sheet-area .display-flex {
    display: inline;
    top: 0;
    align-items: flex-start;
}

input, select, button, textarea {
    background-color: var(--section-bg-color) !important;
    border-color: var(--widget-border-color) !important;
    border-width: 1.5px !important;
    border-style: inset !important;
    border-radius:10px;
    color: var(--main-text-color) !important;
    min-height: 2.0em !important;
    padding: 4px;
    padding-left: 5px !important;
    overflow: visible;
}

button {
    border-style: outset !important;
    border-width: 1px !important;

}

* {
    outline: none !important;
}



input[type="radio"] {
    display: none;
    z-index: -4 !important;

}
.radio-restyle label {
    width: 15px !important;
    height: 5px !important;
}
.radio-restyle label button{
    display: inline-block;
    z-index: 4 !important;
    background-color: var(--main-border-color) !important;
    border-color: var(--widget-border-color) !important;
    border-width: 1px !important;
    border-style: outset !important;
    border-radius: 30px !important;
    width: 15px !important;
    height: 15px !important;
    margin: 0px !important;
    padding: 5px !important;
    line-height: 0px !important;
    font-size: 5px !important;
    cursor: pointer;
}

.selected-radio-restyle label button{
    background-color: var(--main-text-color)  !important;
    border-style: inset !important;
    border-width: 1px !important;
}

.selected-0 label button {
    width: 0px !important;
    height: 0px !important;
    background-color: var(--main-border-color) !important;
    border-style: outset !important;
}

.sheet-area label {
  width: var(--main-column-skinny-part);
    height: 20px;
    padding-top: 5px;
    padding-bottom: 0px;


}

.critical-label {
    width: var(--main-column-skinny-part);
    display: inline-block;
    padding: 0px;
}
.area-title {
    padding-top: 10px;
}
.sheet-field {
  width:var(--main-column-width);
}
.select-field {
    display:block;
}
.select-field div, .select-field div div {
    display: inline;
}
.select-text {
    padding: 0;
    display: inline;
    align: left;
    width: var(--main-column-wide-part);
}
.critical-field {
    width: var(--main-column-wide-part);
    display: inline;
    padding: 0px;
    margin: 0px;
}

.critical-field *, .critical-field * * {
    display: inline;
}
.critical-widget li {
    display: inline;
}
.specialty-field {

}
.specialty-selector {
    display: inline;
    width: 50px;
}
.charm-text {
    width: var(--main-column-wide-part);
}
.merit-selector, .intimacy-selector, .health-level-selector{
    width: 40px;
}

.sheet-area ul {

}
.sheet-area ul li {
  list-style: none;
}
#Ability-Area ul {
}

.attribute-radio {

}

.attribute-0 {
    width: 10px;
    height:10px;
}

.area-title button {
    background: var(--section-bg-color) !important;
    color: var(--main-text-color);
    border-color: var(--widget-border-color);
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.xp-text, .essence-text {
    width: 50px !important;
}

.xp-label {
    width: var(--main-column-skinny-part) !important;
}

.limit-text {
    width: var(--main-column-width);
}

.essence-label {
    padding-right: 3px;
    display: inline-block;
    width: var(--main-column-skinny-part) !important;
}

.evocation-text {
    width: var(--main-column-wide-part);
}

.evocation-artifacts-selector {
    width: 60px;
}

#Health-Area, .area-title{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

#Health-Track {
    padding: 4px;
    border-color: var(--main-border-color);
    border-style: inset;
    border-radius: 20px;
}

.health-box {
    display: inline-block;
    height: 75px;
    width: 75px;
    background-image: url("damage_blank.png");
    z-index: 100 !important;
}

.health-box-bashing {
    background-image: url("damage_bashing.png");
}

.health-box-lethal {
    background-image: url("damage_lethal.png");
}

.health-box-aggrivated {
    background-image: url("damage_aggro.png");
}

.health-box span {
    color: transparent;
    font-size: 50px;
    margin: 12px;
}

.health-box-0 span, .health-box-1 span, .health-box-2 span, .health-box-4 span {
    display: inline;
    color: green;
    text-shadow: 0px 0px 1px #000000, 0px 0px 8px #ffffff;
    padding: 0;

}

.health-box-0 span:before, .health-box-1 span:before, .health-box-2 span:before, .health-box-4 span:before {
    content: '-';
}

#Health-Control-Panel span {
    display: inline-block;
    width: var(--main-column-without-check);
}
#Health-Control-Panel span select {
    width: var(--main-column-skinny-part);
}

.rc-tabs {
    margin-top 4px;
    padding-top 4px;
    margin: 0 2%;
    border-bottom-width: 4px;
    border-bottom-style: none;
}

!*.rc-tabs li:before, .rc-tabs li:after {
    content: ' | ';
}*!

.rc-tabs li {
    border: double 3px;
    border-bottom: none;
    margin: 0 5px;
    width: 80px;
    text-align: center;
}

.rc-tabs li.active {
    background: rgba(234, 188, 82, 0.36);
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
}

.rc-input-text {
    width: 100% !important;
}
.chron-editor .rc-input-text .rc-input-text-inner {
    width: 100% !important;
}

.chron-editor-query-field {
    width: 98%;
    height: 50px;
    border: 4px double !important;
    margin:0 auto;
}

.chron-editor-options-area {
    margin: 0 5%;
    border: double 3px;
    border-top: 0px;
    border-radius: 0 0 10px 10px ;
}

.chron-editor-control-panel {
    margin: 0 10%;
    border: double 3px;
    border-top: 0px;
    border-radius: 0 0 10px 10px ;
}

.chron-charm-editor-selector {
    display: block;
}

.chron-charm-editor {
    width: 700px;
    columns: 2;
}
.chron-charm-editor .sheet-field {
    display: block;
    width: 300px;
}
.chron-charm-editor .sheet-field div, .chron-charm-editor .sheet-field div div, .chron-charm-editor .sheet-field div div .special-number {
    display:inline-block;
    width: 100%;
}

.chron-charm-editor .sheet-field div div .special-number {
    width: 50px;
}

.chron-charm-editor span label {
    display: inline-block;
    width: 300px;
}

.chron-charm-bulk-field {
    height: 125px !important;
}

.chron-bulk-charm-entry {
    width: 400px;
}
!*.incbutton {
    background: black;
    color: white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.decbutton {
    border-radius: 10px;
    padding: 0;
    padding-top: -5px;
    padding-bottom: 0px;
    margin-top:-5px;
    background: none;
    width: 20px;
    font-size: 5;
}*!

.rc-modal-panel div div {
    background-color: rgb(51, 38, 14) !important;
    background-radius: 10px;
    border-color: #000;
    border-width: 2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 2px;
}

.rc-input-text-inner {
    display: inline;
}

.rc-h-split-bottom {
    padding: -5px;
    margin: 0px;
}

.rc-v-split-top {
    height: auto;
}

.rc-h-split {
    margin: 0px;
    padding: 0px;
}

.roll-check-section {
}
.roll-check-section div {
    display: inline-block;
    width: 50px;
}

.roll-check-section div input {

}*/
